@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
  font-family: 'NanumSquare';
  background: linear-gradient(109.65deg, #ffffff 6.6%, #dfe9f3 89.44%);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#root {
  min-width: 360px;
}
